<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
	<%- include('includes/container.ejs') %>
	   <h1>Registrar Incidente</h1>
        
        <br>
        <br>

        <form action="incidentes" method="POST">
            <div class="form-row">
            <div class="form-group col-md-12">
                    <label for="Tipo">Tipo de incidente</label>
                    <select class="form-control" name="tipoIncidente">
                    <% for(let incidente of incidentes) {%>
                        <option value="<%= incidente.tipoincidenteId %>"><%= incidente.tipoincidente%></option>
                               
                    <% }%>
                    </select>
                    <br>
                    <br>
                    <label for="Lugar">Lugar del incidente</label>
                    <select class="form-control" name="lugarIncidente">
                    <% for(let lugar of lugares) {%>
                    <option value="<%= lugar.lugarincidenteId %>"><%= lugar.lugarIncidente%></option>
                   
                    <% }%>
                    </select>
            </div>
            <br>
            <br>
            <div class="form-group col-md-3">
            <input type="submit" name="enviar"  class="btn btn-primary" value="Registrar">
            
            </div>
        </form>


	<%- include('includes/endcontainer.ejs') %>
<%- include('includes/footer.ejs') %>